header-container {
  background-color: beige;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}

li {
  list-style-image: url('Johnny Dangerously.png');
}
header-container h1,
header-container h2 {
  margin: 0;
  padding: 5px 0;
}

h1 {
  padding: 35px;
  text-align: center;
  background-color: beige;
  }
h2, h3, h4 {
text-align: center;
} 
h2, h3 {
  background-color: beige;
}

body {
background-color: salmon;
}
